/*@font-face {
  	font-family: "Norwester";
    
}*/

h1, h2, h3, h4, h5, h6, p {
    font-family: "Open Sans";
}


html, body {
    margin: 0;
    padding: 0;
}
.left-header>h1 {
    color: blue;
    font-family: "Open Sans";
}

.left-header>a, .right-header > a {
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Open Sans";
}

.left-header {
    width: 75%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-bottom: 2px solid black;
    background-color: inherit;
}

.header {
    width: 100vw;
    height: 20vh;
    z-index: 5;
    display: flex;
    background-color: #9dc1d1;
}

.body {
    width: 100vw;
    height: 80vh;
    display: grid;
    z-index: 4;
    background-color: #d3e2e9;
    align-self: flex-end;
    place-items: center;
}

.mbody{
    position:absolute;
    z-index: 5;
    width: 75vw;
    height: 60vh;
    display: grid;
    padding-top: 4vh;
    border-radius: 25px;
    background-color: white;
    justify-items: center;
    gap: 5px;
}

.mbody > * {
    margin: 0;
    place-self:center;
}

.logo {
    width: 101px;
    height: 101px;
    border-radius: 5px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: flex-start !important;
}

.right-header {
    width: 25%;
    height: 20vh;
    display:flex;
    align-items: center;
    border-bottom: solid black 2px;
    background-color: inherit;
}

.modal {
    width: 30vw;
    height: 30vw;
    background-color: white;
    box-shadow: 3px 3px 3px 3px;
    z-index: 7;
    position: absolute;
    animation: infinite bounce 1s;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    border-radius: 5px;
}

.modal > * {
    margin: 0;
}

.modal > h1{
    height: 3vh;
}

.modal > h4 {
    height: 5vh;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }